include codebasin/schema/analysis.schema
include codebasin/schema/compilation-database.schema
include codebasin/schema/config.schema
include codebasin/schema/coverage-0.3.0.schema
include codebasin/schema/cbiconfig.schema
